/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:12px Tahoma, sans-serif; background:#f1edea; color:#000; }
div,menu,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,legend,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
button                         { cursor: pointer; padding: 0 }
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
img                            { vertical-align: top; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px Tahoma, sans-serif; color:#000; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }

.box-sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FONTS----------------------------------------*/
/*----------------------------------------------------------------------------------*/
@font-face {
	font-family: 'Quicksand_Book';
	src: url('../fonts/quicksand/QuicksandBook-Regular.eot');
	src: url('../fonts/quicksand/QuicksandBook-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/quicksand/QuicksandBook-Regular.woff') format('woff'),
	url('../fonts/quicksand/QuicksandBook-Regular.ttf') format('truetype'),
	url('../fonts/quicksand/QuicksandBook-Regular.svg#pf_agora_sans_probold') format('svg');
}
@font-face {
	font-family: 'Quicksand_Bold';
	src: url('../fonts/quicksand/QuicksandBold-Regular.eot');
	src: url('../fonts/quicksand/QuicksandBold-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/quicksand/QuicksandBold-Regular.woff') format('woff'),
	url('../fonts/quicksand/QuicksandBold-Regular.ttf') format('truetype'),
	url('../fonts/quicksand/QuicksandBold-Regular.svg#pf_agora_sans_probold') format('svg');
}
@font-face {
	font-family: 'FredokaOne-Regular';
	src: url('../fonts/fredoka_one/FredokaOne-Regular.eot');
	src: url('../fonts/fredoka_one/FredokaOne-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/fredoka_one/FredokaOne-Regular.woff') format('woff'),
	url('../fonts/fredoka_one/FredokaOne-Regular.ttf') format('truetype'),
	url('../fonts/fredoka_one/FredokaOne-Regular.svg#pf_agora_sans_probold') format('svg');
}
@font-face {
	font-family: 'Sniglet-ExtraBold';
	src: url('../fonts/Sniglet-ExtraBold/Sniglet-ExtraBold.eot');
	src: url('../fonts/Sniglet-ExtraBold/Sniglet-ExtraBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Sniglet-ExtraBold/Sniglet-ExtraBold.woff') format('woff'),
	url('../fonts/Sniglet-ExtraBold/Sniglet-ExtraBold.ttf') format('truetype'),
	url('../fonts/Sniglet-ExtraBold/Sniglet-ExtraBold.svg#pf_agora_sans_probold') format('svg');
}
@font-face {
	font-family: 'Bender-Bold';
	src: url('../fonts/bender/Bender-Bold.eot');
	src: url('../fonts/bender/Bender-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/bender/Bender-Bold.woff') format('woff'),
	url('../fonts/bender/Bender-Bold.ttf') format('truetype'),
	url('../fonts/bender/Bender-Bold.svg#pf_agora_sans_probold') format('svg');
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper{
	min-height: 100%;
}
.wrapper:after{
	content: '';
	display: block;
	height: 453px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.logo{
	float: left;
}
.header-right{
	float: right;
}
.wrap-header{
	padding: 30px 0 25px;
	background-color: #fff;
	text-align: center;
}
.menu-nav{
	display: inline-block;
	vertical-align: middle;
}
.menu-nav > li{
	display: inline-block;
	margin-right: 70px;
}
.menu-nav > li:last-child{
	margin-right: 0;
}
.menu-nav > li > a{
	font-size: 14px;
	color: #000;
	text-decoration: none;
	font-family: 'FredokaOne-Regular', sans-serif;
}
.menu-language-currency{
	display: inline-block;
	vertical-align: middle;
	margin-right: 60px;
}
.menu-language-currency li{
	display: inline-block;
	margin-right: 35px;
}
.menu-language-currency li:last-child{
	margin-right: 0;
}
.menu-language-currency .wrap-language-currency{
	border: none;
	background: rgba(0,0,0,0);
	color: #c6c5c5;
	font-size: 14px;
	font-family: 'Quicksand_Bold',sans-serif;
}
.menu-estimates{
	vertical-align: middle;
	display: inline-block;
}
.menu-estimates li{
	display: inline-block;
	margin-right: 35px;
	position: relative;
}
.menu-estimates li:last-child{
	margin-right: 0;
}
.menu-estimates .number-heart{
	color: #816fca;
	font-size: 8px;
	border-radius: 125px;
	border: 2px solid #816fca;
	padding: 0 2px;
	min-width: 14px;
	height: 14px;
	font-family: 'Quicksand_Bold',sans-serif;
	position: absolute;
	top: -7px;
	right: -7px;
	background-color: #fff;
	text-align: center;
}
.menu-estimates .number-bag{
	color: #816fca;
	font-size: 8px;
	border-radius: 125px;
	border: 2px solid #816fca;
	padding: 0 2px;
	min-width: 14px;
	height: 14px;
	font-family: 'Quicksand_Bold',sans-serif;
	position: absolute;
	top: -7px;
	right: -6px;
	background-color: #fff;
	text-align: center;
}
.btn-border{
	border: solid 1px #d0c9c5;
}
.navbar{
	margin-bottom: 0;
	min-height: 0;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.content{
	margin-top: 55px;
}
.bread-crumbs{
	margin-bottom: 25px;
}
.bread-crumbs li{
	display: inline-block;
	margin-right: 15px;
}
.bread-crumbs .focus {
	color: #45413e;
}
.bread-crumbs li:last-child{
	margin-right: 0;
}
.bread-crumbs li:after{
	content: '/';
	color: #816fca;
	margin-left: 15px;
	display: inline-block;
}
.bread-crumbs li:last-child:after{
	content: '';
}
.bread-crumbs a{
	text-decoration: none;
	color: #816fca;
	font-family: 'Quicksand_Book',sans-serif;
	font-size: 13px;
}
.content .bread-crumbs{
	text-align: center;
}
.line-through{
	vertical-align: middle;
	text-align: center;
	margin-bottom: 60px;
}
.line-through{
	display: block;
	position: relative;
}
.line-through:before{
	content: '';
	position: absolute;
	width: 100%;
	border-top: 1px solid #e5e2df;
	top: 50%;
	display: block;
}
.line-through span{
	background-color: #f1edea;
	position: relative;
	display: inline-block;
	padding: 0 25px;
	z-index: 5;
}
.line-through h1 {
	color: #45413e;
	font-size: 48px;
	font-family: 'FredokaOne-Regular', sans-serif;
	background-color: #f1edea;
	display: inline-block;
}
.line-through h2 {
	color: #45413e;
	font-size: 24px;
	font-family: 'FredokaOne-Regular', sans-serif;
	background-color: #f1edea;
	display: inline-block;
}
.background-footer-brown span{
	color: #fff;
	font-size: 18px;
	font-family: 'Quicksand_Bold',sans-serif;
	display: inline-block;
}
.background-footer-brown img{
	float: left;
	margin-right: 40px;
}
.background-footer-brown{
	overflow: hidden;
	vertical-align: middle;
}
.background-footer-brown p{
	color: #868380;
	font-size: 14px;
	line-height: 1.5;
	font-family: 'Quicksand_Bold',sans-serif;
}
.btn-view-more{
	color: #fff;
	font-size: 16px;
	background-color: #816fca;
	font-family: 'Quicksand_Bold',sans-serif;
	padding: 25px 0 20px;
	width: 300px;
	display: block;
	margin: 25px auto 0;
	border: none;

	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;;
}
.btn-view-more:after{
	content: '';
	background: url("../images/content/icon-arrow.png");
	width: 19px;
	height: 14px;
	display: inline-block;
	margin-left: 25px;
}
.block-popular-item{
	border-radius: 15px;
	background-color: #fff;
	width: 270px;
	text-align: center;
	margin-bottom: 25px;
}
.block-popular-item .photo{
	display: inline-block;
	width: 270px;
	height: 260px;
	background-color: #83d38c;

	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.block-popular-item .description{
	color: #45413e;
	font-size: 16px;
	display: block;
	margin: 20px 0 25px;
	font-family: 'Quicksand_Bold',sans-serif;
}
.block-popular-item .price{
	color: #bdc3c7;
	font-size: 14px;
	display: block;
	padding-bottom: 20px;
	font-family: 'Sniglet-ExtraBold',sans-serif;
}
.wrap-description-block{
	overflow: hidden;
}
.background-footer-brown{
	background-color: #45413e;
	padding: 50px 0 60px;
}
.wrap-slider-box {
	background-color: #fff;
	border-radius: 5px;
}
.wrap-tab-panel-slider .tab-pane {
	padding: 75px 70px;
}
.wrap-tab-panel-slider .tab-pane .text-column {
	float: left;
	width: 50%;
	padding-right: 20px;
}
.tab-pane{
	overflow: hidden;
}
.nav-tabs{
	text-align: center;
}
.nav-tabs>li{
	display: inline-block;
	margin-bottom: -1px;
	float: none;
}
.nav-tabs>li.active>a{
	font-size: 24px;
	color: #000;
	text-decoration: none;
	font-family: 'FredokaOne-Regular',sans-serif;
	font-weight: bold;
}
.nav-tabs>li>a{
	border-radius: 10px 10px 0 0 ;
}
.nav>li>a{
	position: relative;
	display: block;
	padding: 10px 15px;
	font-size: 24px;
	color: #bdc3c7;
	text-decoration: none;
	font-family: 'FredokaOne-Regular',sans-serif;
}
.text-column p{
	margin-bottom: 15px;
	color: #8d8d8d;
	font-size: 16px;
	font-family: 'Quicksand_Book',sans-serif;
	font-weight: 600;
}
.left-block-slider .price{
	display: block;
	color: #45413e;
	font-size: 48px;
	margin-bottom: 40px;
	font-family: 'Sniglet-ExtraBold',sans-serif;
}
.left-block-slider select{
	display: block;
	border-radius: 15px;
	border-color: #e8e2d6;
	padding: 8px 15px 8px 8px;
	color: #45413e;
	font-size: 14px;
	margin-bottom: 20px;
	font-family: 'Quicksand_Bold', sans-serif;
}
.left-block-slider select option{
	color: #45413e;
	font-size: 14px;
	font-family: 'Quicksand_Bold',sans-serif;
}
.left-block-slider option:before{
	content: '';
	border: solid 1px #585d61;
	border-radius: 20px;
	width: 20px;
	height: 20px;
	display: inline-block;
	background-color: #585d61;
	margin-right: 10px;
}
.left-block-slider .counter-basket{
	display: inline-block;
	border-radius: 15px;
	padding: 7px 15px;
	border: solid 1px #e8e2d6;
	vertical-align: middle;
	margin-right: 20px;
}
.left-block-slider .counter-basket .minus,.plus{
	color: #999999;
	font-size: 18px;
	font-family: 'Bender-Bold',sans-serif;
}
.left-block-slider .counter-basket .figure{
	color: #45413e;
	font-size: 14px;
	margin: 0 20px;
	font-family: 'Bender-Bold',sans-serif;
}
.left-block-slider .btn-add-cart{
	background-color: #816fca;
	border-radius: 20px;
	color: #fff;
	font-size: 14px;
	padding: 11px 0;
	width: 155px;
	display: inline-block;
	border: none;
	margin-bottom: 50px;
	font-family: 'Quicksand_Bold', sans-serif;
}
.left-block-slider p{
	font-size: 16px;
	color: #575451;
	margin-bottom: 20px;
	font-family: 'Quicksand_Book', sans-serif;
}
.left-block-slider .read-more{
	color: #816fca;
	font-size: 16px;
	text-decoration: none;
	margin-bottom: 30px;
	display: inline-block;
	font-family: 'Quicksand_Book', sans-serif;
}
.wrap-slider-box{
	margin-bottom: 50px;
}
.sp-thumbnail-image {
	width: 100%;
	height: 83px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.footer{
	padding-top: 40px;
	margin-top: -453px;
	background-color: #fff;
}
.footer .left-block span{
	font-size: 13px;
	color: #45413e;
	font-family: 'Quicksand_Bold',sans-serif;
}
.footer .left-block .text-purple{
	font-size: 12px;
	color: #816fca;
	font-family: 'Quicksand_Bold', sans-serif;
}
.footer-categories li{
	width: 33%;
	float: left;
	margin-bottom: 20px;
}
.footer-categories a{
	text-decoration: none;
	color: #2c3e50;
	font-family: 'Quicksand_Bold', sans-serif;
}
.block-share-sprite-social-link li:first-child{
	text-indent: 0;
	color: #c7c6c5;
	font-size: 14px;
	background: none;
	font-family: 'Quicksand_Bold', sans-serif;
}
.sprite-social-link li{
	display: inline-block;
	background: url("../images/footer/icon-sprite.png");
	text-indent: -9999px;
	margin-right: 25px;
}
.block-share-sprite-social-link li{
	display: inline-block;
	background: url("../images/footer/icon-sprite.png");
	text-indent: -9999px;
	margin-right: 25px;
}
.sprite-social-link li:last-child{
	margin-right: 0;
}
.block-share-sprite-social-link li:last-child{
	margin-right: 0;
}
.sprite-social-link a{
	display: block;
	width: 9px;
	height: 17px;
}.block-share-sprite-social-link  a{
	 display: block;
	 width: 9px;
	 height: 17px;
 }
.sprite-social-link .google a{
	display: block;
	width: 18px;
	height: 17px;
}
.block-share-sprite-social-link .google a{
	display: block;
	width: 18px;
	height: 17px;
}
.sprite-social-link .twitter a{
	display: block;
	width: 16px;
	height: 17px;
}
.block-share-sprite-social-link  .twitter a{
	display: block;
	width: 16px;
	height: 17px;
}
.sprite-social-link .unknown a{
	display: block;
	width: 13px;
	height: 17px;
}
.block-share-sprite-social-link .unknown a{
	display: block;
	width: 13px;
	height: 17px;
}
.sprite-social-link li.google{
	background: url("../images/footer/icon-sprite.png") -32px 0;
}
.block-share-sprite-social-link  li.google{
	background: url("../images/footer/icon-sprite.png") -32px 0;
}
.sprite-social-link li.twitter{
	background: url("../images/footer/icon-sprite.png") -69px 0;
}
.block-share-sprite-social-link li.twitter{
	background: url("../images/footer/icon-sprite.png") -69px 0;
}
.sprite-social-link li.unknown{
	background: url("../images/footer/icon-sprite.png") -106px 0;
}
.block-share-sprite-social-link li.unknown{
	background: url("../images/footer/icon-sprite.png") -106px 0;
}
.header-section-footer{
	color: #333333;
	font-size: 14px;
	margin-bottom: 30px;
	display: inline-block;
	font-family: 'FredokaOne-Regular',sans-serif;
}
.header-section-footer-about li{
	margin-bottom: 20px;
	color: #45413e;
	font-size: 13px;
	font-family: 'Quicksand_Bold',sans-serif;
}
.header-section-footer-about a{
	text-decoration: none;
	color: #45413e;
	font-size: 13px;
	font-family: 'Quicksand_Bold',sans-serif;
}
.footer-categories{
	overflow: hidden;
	margin-bottom: 20px;
}
.footer .left-block,
.header-section-footer-about{
	margin-bottom: 20px;
}


/*----------------------------------------------------------------------------------*/
/*-----------------------------------RESPONSIVE-------------------------------------*/
/*----------------------------------------------------------------------------------*/
@media screen and (max-width: 600px){
	.footer-categories li {
		width: 50%;
	}
}
@media screen and (max-width: 450px){
	.footer-categories li {
		width: 100%;
	}
}
@media screen and (max-width: 1200px){
	.menu-language-currency	{
		display: block;
		margin-right: 0;
		margin-bottom: 25px;
	}
	.menu-estimates{
		display: block;
		margin-bottom: 25px;
	}
}
@media screen and (max-width: 990px){
	.menu-nav {
		width: 100%;
	}
}
@media screen and (max-width: 767px) {
	.menu-nav > li {
		display: block;
		margin: 0 0 10px;
	}
	.wrap-header .navbar {
		clear: both;
		float: right;
		width: 100%;
	}
}
@media screen and (max-width: 550px){
	.logo{
		display: block;
		margin-bottom: 25px;
		float: none;
	}
	.menu-language-currency,
	.menu-estimates{
		display: block;
	}
	.header-right{
		float: none;
	}
}
@media screen and (max-width: 320px){
	.menu-nav li {
		width: 100%;
	}
}
@media screen and (max-width: 800px){
	.wrap-header .dropdown-menu>li>a {
		text-align: center;
	}
	.wrap-header .dropdown-menu{
		margin-bottom: 15px;
		float: none;
		position: initial;
	}
}
@media screen and (max-width: 320px){
	.wrap-tab-panel-slider .tab-pane {
		padding: 10px 20px;
	}
	.text-column p{
		font-size: 14px;
	}
	.left-block-slider .price{
		font-size: 35px;
		margin-bottom: 25px;
	}
	.left-block-slider .btn-add-cart{
		margin-bottom: 25px;
	}

}
