
@font-face {
  font-family: 'QuicksandBold-Regular';
  src: url('QuicksandBold-Regular.eot?#iefix') format('embedded-opentype'),  url('QuicksandBold-Regular.otf')  format('opentype'),
	     url('QuicksandBold-Regular.woff') format('woff'), url('QuicksandBold-Regular.ttf')  format('truetype'), url('QuicksandBold-Regular.svg#QuicksandBold-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
